# apticron.conf
# Set EMAIL to a space separated list of addresses which will be notified of
# impending updates. By default the root account will be notified.
EMAIL="{{ log_mail_to }}"
SYSTEM="{{ ansible_hostname }}"
