#!/bin/sh

cmd_lolcat="$(command -v lolcat_m)" || cmd_lolcat="$(command -v lolcat)"

[ -r /etc/lsb-release ] && . /etc/lsb-release

if [ -z "$DISTRIB_DESCRIPTION" ] && [ -x /usr/bin/lsb_release ]; then
  # Fall back to using the very slow lsb_release utility
  DISTRIB_DESCRIPTION=$(lsb_release -s -d)
fi

echo
printf "Welcome to %s (%s %s %s)\n" "$DISTRIB_DESCRIPTION" "$(uname -o)" "$(uname -r)" "$(uname -m)" | $cmd_lolcat -f
uname -snrvm | $cmd_lolcat -f
echo

echo "{{ motd_banner }}" | $cmd_lolcat -f
